// THIS SECTION IS WHERE YOU WOULD ASSIGN THE CUSTOM FONT VARIABLE (IN "BASE/TYPOGRAPHY.SCSS")
// TO ELEMENTS OR CLASSES

// Below is an example

// .booking__title{
//     font-family: $ff-primary;
// }

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@300;400&display=swap');  

.copyright,
.footer-text,
.sub-text,
.sub-link,
nav
{
    font-family: $ff-secondary;
}

.title{
    font-family: $ff-primary;
    text-transform: uppercase;
    font-weight: 300;
    margin: 1em auto;
    background: pink;
    letter-spacing: 0.6rem;
}

.subtitle{
    font-family: $ff-primary;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 300;
    margin-bottom: 1em;
}

// Generic Styling
.sub-text{
    background: yellow;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 auto;
    line-height: 1.8;

    // @include responsive(desktop){
    //     font-size: 0.8rem;
    // }
}

//Media Queries

.title,
.subtitle,
.sub-text{

    @include responsive(desktop){
        margin: 0;
    }

}
