// THIS SECTION IS WHERE YOU WOULD ASSIGN THE CUSTOM FONT VARIABLE (IN "BASE/TYPOGRAPHY.SCSS")
// TO ELEMENTS OR CLASSES

// Below is an example

// .booking__title{
//     font-family: $ff-primary;
// }

//ff-primary =  Playfair Display, serif
//ff-secondary = Raleway, sans-serif

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@300;400&display=swap');  

.copyright,
.footer-text,
.sub-text,
.sub-link,
.submit-btn,
.contact-email,
.mob-nav-link,
.mob-menu,
input
{
    font-family: $ff-secondary;
}

.title,
.subtitle,
.contact-title,
.contact-subtitle,
nav{
    font-family: $ff-primary;
}


.title{
    text-transform: uppercase;
    font-weight: 300;
    margin: 1em auto;
    letter-spacing: 0.6rem;
}

.contact-title,
.contact-subtitle{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.subtitle{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 300;
    margin-bottom: 1em;
}

// Generic Styling
.sub-text,
.contact-email{
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 auto;
    line-height: 1.8;

    @include responsive(desktop){
        font-size: 1.1rem;
    }
}

.sub-link{

    transition: all 0.15s ease-in-out;

    &:hover,
    &:focus{
        filter: brightness(50%);
    }
}

//Media Queries

.title,
.subtitle,
.sub-text{

    @include responsive(smalldesktop){
        margin: 0;
    }

}
