// THIS SECTION IS WHERE YOU WOULD ASSIGN THE CUSTOM FONT VARIABLE (IN "BASE/TYPOGRAPHY.SCSS")
// TO ELEMENTS OR CLASSES

// Below is an example

// .booking__title{
//     font-family: $ff-primary;
// }

nav,
.copyright,
.footer-text,
.sub-text,
.sub-link
{
    font-family: $ff-secondary;
}

.title{
    font-family: $ff-primary;
    text-transform: uppercase;
    font-weight: 300;
    margin: 1em auto;
    background: pink;
    letter-spacing: 1rem;
}

.subtitle{
    font-family: $ff-primary;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 300;
    margin-bottom: 1em;
}

// Generic Styling
.sub-text{
    background: yellow;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 auto;
    line-height: 1.8;
}
