.capture{
    text-align: center;
    // background: lightblue;
    padding: 4em 0;

    @include responsive(desktop){
        padding: 10em 0;
    }

    .vertical-line{
        background-color: rgba(0, 0, 0, 0.5);
        width: 1px;
        height: 50px;
        margin: 0 auto 20px;
    }

    .title{
        width: 80%;
        max-width: 600px;
        text-transform: uppercase;
        font-weight: 300;
        margin: 1em auto;
        // background: pink;
        letter-spacing: 1rem;

        @include responsive(desktop){
            max-width: 820px;
            font-size: 2.5rem;
        }
    }

    .sub-text{
        width: 85%;
        max-width: 340px;
        margin: 0 auto;

        @include responsive(desktop){
            max-width: 520px;
            font-size: 1.3rem;
            letter-spacing: 2.5px;
        }
    }

    
}

