footer{
    text-align: center;
    padding: 5rem;
    background-color: $light-grey;

    .footer-logo{
        width: 150px;
        margin-bottom: 2em;
    }

    .footer-text{
        font-size: 0.9rem;

        @include responsive(desktop){
            margin-bottom: 5rem;
            letter-spacing: 2.5px;
            line-height: 1.5;
        }
    }

    //The unordered list item - "ul"
    .social-links{
        display: flex;
        justify-content: space-between;
        width: 50%;
        max-width: 200px;
        margin: 2em auto;
        // background-color: palegoldenrod;

        //The list item - "li"
        .social-item{
            list-style: none;

            //The anchor tag - "a"
            .social-link{
                font-size: 2em;
                color: $black-trans;
            }
        }

        
    }
    
    .copyright{
        text-align: center;
        font-size: 0.9rem;
    }
}