header{

    .logo-container{
        
        display: flex;
        justify-content: center;
        margin: 30px 0;

        .logo{
            width: 200px;

            @include responsive(desktop){
                width: 250px;
            }
        }

        @include responsive(desktop){
            margin-top: 100px;
        }
    }
}

nav{

    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;

    @include responsive(desktop){
        margin: 40px auto 120px;
    }

    //Unordered list - "ul"
    .nav-list{
        width: 95%;
        max-width: 1200px;
        margin: 0 auto 30px;

        @include responsive(smalldesktop){
            display: flex;
            justify-content: space-between;
            width: 80%;
            max-width: 660px;
            font-size: 1.1rem;
            letter-spacing: 2px;
        }

        @include responsive(desktop){
            font-size: 1.5rem;
            max-width: 900px;
            letter-spacing: 2.5px;
        }
        
        //list items - "li"
        .nav-item{
            list-style: none;
        }

        //anchor tags - "a"
        .nav-link{
            color: $black;
            text-decoration: none;
            transition: color 0.15s ease-in-out;

            &:hover,
            &:focus,
            &.active{
                color: $accent;
                // text-decoration: underline;
            }

        }

        .bar{
            display: none;
            pointer-events: none;

            @include responsive(smalldesktop){
                display: block;
            }
        }
    }
}
