.hero{
    display: grid;
    grid-template-areas: "top-left top-right"
                         "bottom-left bottom-right";
    width: 100%;
    height: 40vh;
    // background-color: aquamarine;
    margin: 0 0 $mobile-margin;

    @include responsive(smalldesktop){
        display: flex;
        height: 50vh;
        gap: 1em;
        // margin: 0 0 $desktop-margin;

        .hero-1,
        .hero-2,
        .hero-3,
        .hero-4,
        .hero-5{
            width: 25%;
        }
    }

    @include responsive(desktop){
        height: 70vh;
        margin: 0 0 $desktop-margin;

    }

    .hero-img-container{
        // width: 24.5%;
        background-position: center;
        background-size: cover;
    }

    .hero-1{
        background-image: url("/img/bride-dress.jpg");
        grid-area: top-left;
        // background-color: red;

        
    }

    .hero-2{
        background-image: url("/img/groom.jpg");
        grid-area: top-right;
        // background-color: pink;
    }

    .hero-3{
        background-image: url("/img/low-angle-building.jpg");
        grid-area: bottom-left;
        // background-color: red;
    }

    .hero-4{
        background-image: url("/img/lake-trees.jpg");
        grid-area: bottom-right;
        // background-color: pink;
    }

    .hero-5{
        background-image: url("/img/reindeer.jpg");
        display: none;

        @include responsive(smalldesktop){
            display: block;
        }
    }
    
}