.portfolio-set{

    

    .title{
        width: 200px;

        // &::after{
        //     content: "";
        //     background-color: $light-grey;
        //     width: 60px;
        //     height: 20px;
        //     position: absolute;
        //     top: 40%;
        //     left: 40%;
        //     z-index: -1;
        // }
    }
    
    .subtitle{
        margin-bottom: 1em;
    }

    .mini-desc{
        margin-bottom: 8em;
    }

    .subject-header-img{
        width: 100%;
        height: 600px;
        margin: 0 0 8em;
    }

    .wedding-header-img{
        @include imagewebp(wedding-table);
    }

    .lion-header-img{
        @include imagewebp(lion-5-large);
    }

    .landscape-header-img{
        @include imagewebp(orange-mountain)
    }

    .city-header-img{
        @include imagewebp(city-water)
    }
}