// THIS SECTION IS WHERE YOU WOULD ASSIGN A FONT TO A VARIABLE, SO YOU CAN USE THIS VARIABLE IN "../ABSTRACTS/_TYPOGRAPHY.SCSS
// NOTE: IF YOU ARE USING A FONT FROM GOOGLE FONTS, MAKE SURE YOU PUT THE <LINK> IN THE HEADER ON "INDEX.HTML"

// Below is an example

// $ff-primary: "Quicksand";